.start-page {
	max-width: 700px;
	margin: auto;
}
.page-content {
	margin-top: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.page-content > p.buddy {
	font-size: 4em;
}
.page-content > p {
	color: white;
	font-size: 5em;
	text-align: center;
	margin: -15px;
}
.page-content > p > span{
	color: #ffdbaa;
}
