
/* Track */
body .ui.inverted::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
	border-style: solid;
	border-width: 1px;
	border-color: #F15A29;
	box-shadow: inset 0 0 1px #F15A29; 
	border-radius: 10px;
}

/* Track on hover */
body .ui.inverted::-webkit-scrollbar-track:hover {
	background: rgba(255,255,255,0.1); 
}

/* Handle */
body .ui.inverted::-webkit-scrollbar-thumb {
	background: #F15A29;
}

/* Handle on hover */
body .ui.inverted::-webkit-scrollbar-thumb:hover {
	background: #F15A29;
<<<<<<< HEAD
}

/* Request button */
.ui.button.cancel-button{
	width: 84px;
	height:24px;
	font-size: x-small;
	border-radius: 12px;
	border: 2px solid#8D29F1;
	background-color: rgba(0,0,0,0);
	color: #8D29F1;
	padding: 0px;
	align-items: center;
}

.ui.button.cancel-button.confirm{
	border: 1px solid#F15A29;
	color: #F15A29;
}

.ui.button.cancel-button.confirm:hover{
	background-color: rgba(241, 90, 41, 0.1);
=======
>>>>>>> scroll on matches and styling of scrollbar
}