.match-table{
  margin: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.match-tile{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 0.7em;
  overflow: hidden;
  border-bottom: solid #0C0C0C 1px;
}
.match-tile h5 {
  font-weight: 200;
}
.full-width{
  width: 100%;
}
.match-tile-header{
  margin: 0;
  padding: 0;
}
.match-tile-header > .column{
  padding-top: 0px !important;
}
.match-tile.empty{
  height: 73.5px;
  align-items: center;
  background-color: #db8d29
}
.no-margin{
    margin: 0 !important;
  }
  .hidden {
  display: none;
}
.grid{
  width: 100%;
}