
/* Track */
body ::-webkit-scrollbar-track {
	background: #FEDAA9 ;
	border-style: solid;
	border-width: 1px;
	border-color: #F15A29;
	border-radius: 10px;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
	background: #F15A29;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
	background: #F15A29;
}

.tableWrapper {
	max-height: 90%;
	overflow: auto;
}

.ui.table, th {
	background: #FEDAA9 !important;
	border-left: 0 !important;
	border-bottom: 0 !important;
}

.ui.table tr td {
	border-top: 0 !important;
}

/* Request button */
.ui.button.cancel-button{
	width: 84px;
	height:24px;
	font-size: x-small;
	border-radius: 12px;
	border: 2px solid#8D29F1;
	background-color: rgba(0,0,0,0);
	color: #8D29F1;
	padding: 0px;
	align-items: center;
}

.ui.button.cancel-button.confirm{
	border: 1px solid#F15A29 !important;
	color: #F15A29 !important;
}

.ui.button.cancel-button.confirm:hover{
	background-color: rgba(241, 90, 41, 0.1);
}