.bar-chart {
	font-family: 'Luckiest Guy', sans-serif;
	display: flex;
	flex-direction: row;
	width: 210px;
	height: 250px;
	padding: 30px;
	padding-bottom: 10px;
	align-items: flex-end;
	margin-bottom: auto;
	
}
.wrapper {
	width: 100%;
}
.bar-chart-bars {
	border-bottom: 3px #2f2f2f solid;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}
.bar-values {
	width: 100%;
	position: absolute;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;	
}
.bar-chart-x-axis {
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}
.bar-chart-bars > div.bar {
	width: 50px;
}
.top5{
	background-color: #496d89;
}
.top3{
	background-color: #294f6d
}
.top1{
	background-color: #123652;	
}
