.landing-page {
	/* max-width: 700px; */
	background: #9E9E9E; /* Old browsers */
    background: -moz-linear-gradient(45deg, #9E9E9E 0%, #212121 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #9E9E9E 0%,#212121 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #9E9E9E 0%,#212121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: #DBD3D0;
	min-height: 100vh;
	min-width: 100vw;
}

.page-content > p.buddy {
	font-size: 4em;
}
.page-content > p {
	color: white;
	font-size: 5em;
	text-align: center;
	margin: -40px;
}
.page-content > p > span{
	color: #ffdbaa;
}
