.summoner-search > *:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.summoner-search > *:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.summoner-search > * {
	background-color: transparent;
	height: 45px;
	border: 1px solid #575e5e;
	color: #575e5e;
	font-family: 'Heebo', sans-serif;
	padding-left: 20px;	
	padding-right: 20px;
	font-size: 1em;	
	outline: none;
}
.summoner-search input {
	min-width: 300px;
}
.summoner-search select {
	margin-left: -1px;
}
.summoner-search option {
	background-color: #101111;
	border: 2px solid #575e5e;
}
.summoner-search button {
	margin-left: -1px;
	border: 1px solid #0eaac8;
	color: #0eaac8;
}
.summoner-search button:hover {
	margin-left: -1px;
	border: 1px solid #0eaac8;
	background-color: #0eaac8;
	color: white;
}
